{% extends "home-base.html" %}

{% block head %}
{{super()}}
<style>
  h1 {
    color:green;
  }
</style>
{% endblock %}

{% block title %}
Movies
{% endblock %}

{% block active_tab %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about">Members</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/movies">Movies</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/directors">Directors</a>
</li>
{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-5"><i class="fa fa-film" aria-hidden="true"></i> Movies</h1><br>
        <div class="row bottom-margin">
          <a href="/movies/add" class="btn btn-primary" role="button" aria-disabled="true">Add Movies</a>
        </div><br>
        {% if movie %}
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Year</th>
              <th>Director</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for movie in movie %}
            <tr>
              <th scope="row">{{movie.id}}</th>
              <td>{{movie.name}}</td>
              <td>{{movie.year}}</td>
              <td>{{movie.director.name}}</td>
              <td>
                <!--  view lyrics button trigger modal -->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{movie.id}}">
                      View
                    </button>

                <!-- Modal -->
                <div class="modal fade" id="{{movie.id}}" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{movie.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                      </div>
                      <div class="modal-body">
                        <pre>{{movie.about}}</pre>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <a href="/movie/edit/{{movie.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a>
                <a href="/movie/delete/{{movie.id}}" class="btn btn-danger" role="button" aria-disabled="true">Delete</a>
              </td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock %}
